{#
/**
 * @file
 * Default theme implementation for photos to display images in a list or grid.
 *
 * Available variables:
 * - album: The album object.
 * - node: The node object.
 * - pager: The album pager.
 *
 * @ingroup themeable
 */
#}
{% if album.album_url is not empty or album.node_edit_url is not empty %}
<div class="photos-album-menu">
  {% if album.access.edit %}
    {{ album.node_edit_url }}
    {{ album.image_management_url }}
  {% endif %}
</div>
{% endif %}
{% if node_type == 'photos' %}
  <div class="photos-album-header">
    {% if album.cover %}
      <div class="photos-album-cover">
        {{ album.cover }}
      </div>
    {% endif %}
    <div class="photos-album-right">
      {% trans %}
        {{ node.album.count }} image
      {% plural node.album.count %}
        {{ node.album.count }} images
      {% endtrans %}
      <div class="submitted">
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
      </div>
    </div>
  </div>
{% endif %}

{{ album.links }}

{{ pager }}

{% if display_type == 'grid' %}
  <div class="photos-album-grid">
    <div class="photos-row photos-row-0">
      {% for view in album.view %}
        <div class="photos-col photos-col-{{ loop.index }}" style="{{ grid_col_width }}">
          {{ view }}
        </div>
        {% if loop.index % grid_col_count == 0 %}
          </div>
          <div class="photos-row {{ 'photos-row-' ~ loop.index // grid_col_count }}">
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% else %}
  {% for view in album.view %}
    {{ view }}
  {% endfor %}
{% endif %}

{{ pager }}
