{#
/**
 * @file
 * Formats single image view on image page and list views.
 */
#}
{% if display_type == 'list' %}
  <div class="photos-image-list-view" {{ image.ajax.del_id }}>
    <div class="photos-list-view-thumb">
      <a href="{{ image.url }}#image-load">{{ image.view }}</a>
    </div>
    <h2 class="photos-list-view-title{{ image.class.title_class }}"{{ image.id.title_edit }}>
      {{ image.title }}
    </h2>
    <div class="photos-list-view-des{{ image.class.des_class }}" {{ image.id.des_edit }}>{{ image.des }}</div>
    <div class="photos-list-view-info">

      {% if image.ajax.del_link %}
        {{ image.ajax.del_link }}
      {% endif %}

      {% if image.ajax.edit_link %}
        {{ image.ajax.edit_link }}
      {% endif %}

      {% if image.links.info %}
        {{ image.links.info }}
      {% endif %}

      {% if image.links.count %}
        {{ image.links.count }}
      {% endif %}

      {% if image.links.cover %}
        {{ image.links.cover }}
      {% endif %}

      {% if image.links.comment %}
        {{ image.links.comment }}
      {% endif %}

    </div>
  </div>

{% else %}

  <div id="image-load" class="image-load">
    <h2 class="photos-view-title{{ image.class.title_class }}"{{ image.id.title_edit}}>
      {{ image.title }}
    </h2>
    <div class="photos-view-des{{ image.class.des_class }}"{{ image.id.des_edit }}>{{ image.des }}</div>
    <div class="photos-view-links">
      <div class="photo-links-info">

        {% if image.ajax.del_link %}
          {{ image.ajax.del_link }}
        {% endif %}

        {% if image.ajax.edit_link %}
          {{ image.ajax.edit_link }}
        {% endif %}

        {% if not image.disable_photos_image_count %}
          {% trans %}
            {{ image.count }} visit
          {% plural image.count %}
            {{ image.count }} visits
          {% endtrans %}
        {% endif %}

        {% if image.links.comment %}
          {{ image.links.comment }}
        {% endif %}

        {% if image.links.cover %}
          {{ image.links.cover }}
        {% endif %}

        {% if image.links.more %}
          {{ image.links.more }}
        {% endif %}

      </div>
    </div>
    <div class="photo-link-pager">
      {% if image.links.pager.prev_url %}
        <div class="photo-pager-left">
          <a href="{{ image.links.pager.prev_url }}#image-load">&laquo; {{ 'previous'|t }}</a>
        </div>
      {% endif %}

      {% if image.links.pager.next_url %}
        <div class="photo-pager-right">
          <a href="{{ image.links.pager.next_url }}#image-load">{{ 'next'|t }} &raquo;</a>
        </div>
      {% endif %}
    </div>
    <div class="photos-image">{{ image.view }}</div>
  </div>
  {% if image.comment.view %}
    {{ image.comment.view }}
  {% endif %}
  {% if image.comment.box %}
    {{ image.comment.box }}
  {% endif %}
{% endif %}
