{#
/**
 * @file
 * Formats default layout.
 */
#}
<div id="photos-default">
  {% if content.user.image %}
    <h2>{{ 'My latest images'|t }}</h2>
    {{ user_images }}
  {% endif %}
  {% if content.user.album %}
    <h2>{{ 'My latest albums'|t }}</h2>
    {{ user_albums }}
  {% endif %}
  {% if content.site.image %}
    <h2>{{ 'Latest images'|t }}</h2>
    {{ site_images }}
  {% endif %}
  {% if content.site.album %}
    <h2>{{ 'Latest albums'|t }}</h2>
    {{ site_albums }}
  {% endif %}
</div>
