<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      {% if css %}
      <style type="text/css">
          <!--
          {{ css }}
         -->
      </style>
      {% endif %}
  </head>
  <body id="mimemail-body" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
    <div id="subscription-header">
      YOUR @WORK SUBSCRIPTIONS | {{ date }}
    </div>
    <div id="subscription-banner"></div>
    <div id="center">
      <div id="main">
  Hi {{ username }},
      
  Here are the latest updates from your @Work subscriptions.

        {% if comments is defined %}
          <div class="subscription-section-title">New Comments</div>
          {% for comment in comments %}
            <div class="subscription-content">
              <div class="item-title">
                {{ comment.title }}
              </div>
              <div class="item-byline">
                {% trans %}Posted on {{ comment.createdDate}} | {{ comment.createdTime }}{% endtrans %}
              </div>
                {% for item in comment.comments %}
                  <div class="item-byline">
                    {% trans %}{{ item.author }} posted on {{ item.createdDate }} | {{ item.createdTime }}{% endtrans %}
                  </div>
                  <div class="item-body">
                    {{ item.comment_body|striptags }}
                  </div>
                {% endfor %}
            </div>
          {% endfor %}
        {% endif %}
        
        {% if article is defined %}
          <div class="subscription-section-title">New Content</div>
          {% for item in article %}
            <div class="subscription-content">
              <div class="item-title">
                {{ item['title'] }}
              </div>
              <div class="item-byline">
              {% trans %}{{ item['author'] }} posted on {{ item['createdDate'] }} | {{ item['createdTime'] }}{% endtrans %}
              </div>
              <div class="item-body">
                {{ item['summary']|striptags }} <a href="{{ item.url }}"> ...Read More>></a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        
      </div>
    </div>
    <div id="subscription-footer">
      <a href="/user/{{ user_uid }}/message-subscribe">Manage your @Work subscriptions or Unsubscribe</a>
    </div>
  </body>
</html>
