<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      {% if css %}
      <style type="text/css">
          <!--
          {{ css }}
         -->
      </style>
      {% endif %}
  </head>
  <body id="mimemail-body" {% if ( module | length > 0 ) and ( key | length > 0 ) %}  {% set class = 'class="' ~ module ~ '-' ~ key ~ '"' %} {% endif %} >
    <div id="subscription-header">
      YOUR @WORK SUBSCRIPTIONS | {{ date }}
    </div>
    <div id="subscription-banner"></div>
    <div id="center">
      <div id="main">
  Hi {{ username }},
      
  Here are the latest updates from your @Work subscriptions.

        {% if comment is defined %}
          <div class="subscription-section-title">New Comments</div>
          {% for item in comment %}
            <div class="subscription-content">
              <div class="item-title">
                {{  item['title'] }}
              </div>
              <div class="item-byline">
              {% trans %}{{ item['author'] }} posted on {{ item['createdDate'] }} | {{ item['createdTime'] }}{% endtrans %}
              </div>
              <div class="item-body">
                {{ item['body'] }}
              </div>
            </div>
          {% endfor %}
        {% endif %}
        
        {% if article is defined %}
          <div class="subscription-section-title">New Content</div>
          {% for item in article %}
            <div class="subscription-content">
              <div class="item-title">
                {{ item['title'] }}
              </div>
              <div class="item-byline">
              {% trans %}{{ item['author'] }} posted on {{ item['createdDate'] }} | {{ item['createdTime'] }}{% endtrans %}
              </div>
              <div class="item-body">
                {{ item['summary']|striptags }}
              </div>
            </div>
          {% endfor %}
        {% endif %}
        
      </div>
    </div>
    <div id="subscription-footer">
      Manage your @Work subscriptions or Unsubscribe
    </div>
  </body>
</html>
