{#
/** Override the poll_vote template in the poll contrib module to display the title in block view.
 * 
 * Available Variables: 
 *  poll_body: Article-style body of poll.
 *  question: Title and/or poll question
 *  show_question: I commented it out, but it can be used to prevent the question from being displayed 
 *  when the page is in teaser mode. Why you would want to do that, I dont know. 
 */
#}
{{ form.messages }}
<div class="atwork_poll_box">
  <div class="vote-form">
    {#{% if show_question %}#}
      <h3 class="poll-question">{{ question }}</h3>
    {#{% endif %}#}
    
    {{ form.choice }}
    {{ form.actions }}

  </div>
 
{{ form|without('actions', 'choice', 'messages', 'question') }}

</div>
<div id="printBtn"><input onclick="window.print()" type="button" value="Print" /></div>
<div id="poll_hit_counter"> 
{% trans %}{{ poll_views.count }} Views{% endtrans %}
<div>