{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{#
{% extends "menu.html.twig" %}
{%
  set classes = [
    'menu',
    'menu--' ~ menu_name|clean_class,
    'nav',
    'navbar-nav',
  ]
%}
#}
{% set classes = [] %}
{% for item in items %}

  <div class="menu-header-{{ loop.index }} navbar">
    <div class="subnav">
      <button class="subnavbtn">{{ item.title }}</button>
        <div class="subnav-content-1">
        {% for child in item.below %}
          {% if child.below is empty %}
            <a href="{{ child.url }}">{{ child.title }}</a>
          {% endif %}
          {% if child.below is not empty %}
            <button class="subnavbtn">{{ child.title }} </button>
            <div class="subnav-content-2">
              {% for grandchild in child.below %}
                <a href="{{ grandchild.url }}">{{ grandchild.title }}</a>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </div>

{% endfor %}