<html>
  <body>
    <table width="600" cellspacing="0" cellpadding="10" border="0">
      <thead>
        <tr>
          <td width="25%">
            <div class="logo"><a href="{{ site_url }}" title="{{ site_name }}">{{ logo }}</a></div>
          </td>
          <td>
            <h1 class="site-name"><a href="{{ site_url }}" title="{{ site_name }}">{{ site_name }}</a></h1>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            {% if header %}
              <div class="header">{{ header }}</div>
            {% endif %}
            {% if message %}
              <div class="message">{{ message }}</div>
            {% endif %}
            <div class="content">{{ content }}</div>
            {% if link %}
              <div class="link">{{ link }}</div>
            {% endif %}
            {% if footer %}
              <div class="footer">{{ footer }}</div>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
